/* MODAL CENTERED */
.ui.page.modals.transition.visible {
    display: flex !important;
}

.ui.modal {
    margin-top: 0 !important;
}

.base-container {
    min-height: 677px;
}

div.ui.container.base-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* DATEPICKER TIME PADDING */
ul.react-datepicker__time-list {
    padding: 0;
}

/* IMAGE GALLERY STATIC HEIGHT */
/*.image-gallery-slides {*/
    /*text-align: center;*/
/*}*/

/*.image-gallery-slide {*/
    /*background: #fff;*/
/*}*/
/*.image-gallery-image > img {*/
    /*width: auto;*/
    /*height: 350px;*/
/*}*/

/* HOMEPAGE SEARCH */
.home-search-section {
    position: relative;
}

.home-search-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.home-search-background > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}

.home-search-bar {
    z-index: 10;
    bottom: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.home-search-bar > div.ui.input {
    width: 40%;
}

div.ui.breadcrumb {
    width: 100%;
    padding-bottom: 10px;
}

/* CHAT */
div.sc-launcher {
    z-index: 10;
}

div.sc-chat-window {
    z-index: 10;
}

*{
    transition: all 0.6s;
}


/* ERROR 404 */
#main {
    display: table;
    width: 100%;
    height: 677px;
    text-align: center;
}

.fof{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

.fof h1{
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

@keyframes type{
    from{box-shadow: inset -3px 0px 0px #888;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}