/* MODAL CENTERED */
.ui.page.modals.transition.visible {
    display: flex !important;
}

.base-container {
    height: 666px;
    min-height: 476px;
}

div.ui.container.base-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* HOMEPAGE SEARCH */
.home-search-section {
    position: relative;
}

.home-search-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.home-search-background > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}

.home-search-bar {
    z-index: 10;
    bottom: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.home-search-bar > div.ui.input {
    width: 40%;
}