<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Asynchroniczne Interfejsy WWW{% endblock %}</title>
        {% block stylesheets %}
            {#TODO: move app.css from build/js to build/css driectory#}
            <link rel="stylesheet" href="{{ asset('build/js/app.css') }}" />
            <link rel="icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="root"></div>
            <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
